h1
{
    text-align:center;
}

h3
{
	text-decoration: underline;
}

body
{
    background: url("image/big_blue.jpg") fixed;
}

#block1
{
	border: 2px blue outset;
	border-radius: 10px;
	
}	

a:hover
{
   text-decoration: black wavy underline;
}